<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="text-center">Welcome Administrator</h1>
        <h4 class="text-center">Manage your website from here</h4>

    </div>
    <div class="panel-body panel-info">
        <img class="img-responsive" width="600" height="300" style="display: block; margin: 0 auto;"  src="~/Content/images/others/achievement-adult-book-1043514.jpg" />
    </div>
</div>