<footer class="bg-dark mt-5" style="color:white">
    <div class="container-fluid bg-faded mt-5">
        <div class="container">
            <div class="row py-3">
                <!-- footer column 1 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-dark js-scroll-trigger" href="#page-top">
                                <i class="fa fa-2x fa-fw fa-home" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Guffaw CBD</h4>
                            <p>Home</p>
                        </div>
                    </div>
                    <!-- row end -->

                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-success js-scroll-trigger" href="#portfolio">
                                <i class="fa fa-2x fa-fw fa-image" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Gallery</h4>
                            <p>See our images</p>
                        </div>
                    </div>

                </div>
                <!-- footer column 1 end -->
                <!-- footer column 2 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-info js-scroll-trigger" href="#services">
                                <i class="fa fa-2x fa-fw fa-info" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Who We Are</h4>
                            <p>From Earth To You</p>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-secondary js-scroll-trigger" href="#contact">
                                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Contact Us</h4>
                            <p>Find us and reach us</p>
                            @*<p class=" ">We use <a class=" " href="/# ">cookies </a></p>*@
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- footer column 2 end -->
                <!-- footer column 3 start -->
                <div class="col-md-4">
                    <!-- row starting  -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-danger js-scroll-trigger" href="#download">
                                <i class="fa fa-2x fa-fw fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Download Our Leaflet</h4>
                            <p> Spread the word</p>
                        </div>
                    </div>
                    <!-- row ended -->
                    <!-- row starting  -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle bg-warning js-scroll-trigger" href="#blog">
                                <i class="fas fa-2x fa-fw fa-blog" aria-hidden="true"></i>
                                @*<i class="fas fa-blog"></i>*@
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Our Blog</h4>
                            Read about our stories
                        </div>
                    </div>
                    <!-- row ended -->
                </div>
                <!-- footer column 3 end -->
            </div>
        </div>
    </div>

    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-9">
                    <p style="color:white">&copy; @DateTime.Now.Year - Guffaw. All right reserved.</p>
                </div>
                <div class="col-md-3">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-2x fa-fw fa-facebook text-white"></i>
                            </a>
                        </div>
                        <div class="bg-circle-outline d-inline-block" style="background-color:#fb3958">
                            <a href="https://www.instagram.com/guffawcbd/" target="_blank">
                                <i class="fa fa-2x fa-fw fa-instagram text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@*  <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
              <a href="https://twitter.com/">
                  <i class="fa fa-2x fa-fw fa-twitter text-white"></i>
              </a>
          </div>
    <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                  <a href="https://www.linkedin.com/company/">
                      <i class="fa fa-2x fa-fw fa-linkedin text-white"></i>
                  </a>
              </div>*@